{% extends 'base.html.twig' %}

{% block title %}New Disinfections{% endblock %}

{% block body %}
    <h1>Create new Disinfections</h1>

    {{ include('disinfections/_form.html.twig') }}

    <a href="{{ path('app_disinfections_index') }}">back to list</a>
{% endblock %}
